:root {
  --primary-color: #2a3b2e;
  --secondary-color: #f3f0e3;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--primary-color);
  font-family: "Beiruti Variable", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
