:root {
  --primary-color: #2a3b2e;
  --secondary-color: #f3f0e3;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Text Me One", sans-serif;
  background-color: var(--primary-color);
}

h1 {
  margin: 0;
}

img {
  max-width: 100%;
}
