.navigation {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
}

.navigation__link {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.active {
  font-weight: 600;
}
